.alt-text {
    color: #3E4E50;
}

.big-font {
    font-size: 50px;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
h5 {
    text-align: center;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 50px solid black;
    border-radius: 50%
}
.background {
    background-color: #FFFFF2;
}
body{
    background-color: #8EA8C3;
}
p {
    background-color: #E2E2E2;
}
.custom {
    font-family: Zapf Chancery, cursive;
    color: black;
    font-size:20px;
}

body {
    text-align: center;
}

.ugly, .beautiful, button {
    width: 250px;
}

.img-circle {
    border-radius: 50%;
}

/*.bodyimage {
background-image: url("../beach.jpeg");
}*/

.ugly {
    background-color: rgb(223, 176, 151);
    border: 20px solid red;
    border-top: 5px solid blue;
}

.beautiful {
    background: transparent;
    border: 2px solid #3FA7D6;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all .8s ease;
}
button > span {
    font-size: 50px;
}

.beautiful:hover {
    transform: scale(2) rotate(30deg);
    border: 2px solid #B7B5E4;
}
h1 {
    font-family: 'Baloo Bhai', cursive;
}

h2 {
    font-family: 'Lalezar', cursive;
}

header {
    background: #9590A8;
    color: white;
    text-align: center;
    padding: 50px;
}

footer {
    background: transparent;
    color: white;
    text-align: center;
    padding: 50px;*/
    /*}

    #sectiona1 {
    background: url(mushroom-kingdom-fusion-14.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px 50px 50px 50px;
    text-align: center;
    /*box-shadow: 2px 50px 5px yellow;*/
}

#section2 > button{
    padding: 50px;
    text-align: center;
    color: white;
    background: transparent;
    border-radius: 5px;
    padding: 10px:
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}

#section2 > button:hover {
    transform: translate(-10px) translateY(-10px) scale(2.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

a, a:visited, a:active {
    color: red;
}

#section2 > button:first-child(2) {
    transform: rotate(180deg);
}

table {
    border:1px solid black;
    width:600px;
    margin:0 auto;
}

td {
    padding:20px;
}

tr td {
    border-bottom: 1px solid black;
}

tr:last-child td {
    border:none;
}

tr td:first-child {
    text-align: right;
    border-right:1px solid black;
}

tr td:last-child {
    text-align: left;
}
